<div id="formulario">

    <h2>Contacto</h2>

    <form action="https://formsubmit.co/dbe2dc5d1600784b7ee8f4602e735d1e" method="POST">

        
        <input type="text" name="name" placeholder="Nombre">

        <input type="text" name="email" placeholder="Email">

        <input type="text" name="asunto" placeholder="Asunto">

        <label for="mensaje">Mensaje</label>
        <textarea name="mensaje" cols="50" rows="5"></textarea>

        <input type="submit" value="Enviar">

        <input type="hidden" name="_next" value="http://localhost:4200/">
        <input type="hidden" name="_captcha" value="false">
    </form>
</div>
